
html {
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    font-family: 'Exo 2', Helvetica, Arial, sans-serif;
    
}

body {
    margin: 0px auto;
    text-align: center;
    padding-top:20vh;
    max-width:90%;
}


p{
    font-size:52px;
    font-weight:700;
    color:#000;
}

a{
    text-decoration: none;
    color:#226ee8;
    font-size:24px;
}
#mail,#telegram{
    margin-bottom:5vh;
    vertical-align: bottom;
    display:inline-block;
    width:300px;
}